<launch>
<!--robot pose -->
	
<!-- Load the mezbot URDF model into the parameter server -->

<!--param name="robot_description" textfile="$(find mezbot)/mezbot.urdf" /-->
<param name="robot_description" command="$(find xacro)/xacro.py '$(find mezbot)/mezbot.urdf.xacro'" />


<arg name="use_tf_static" default="false"/> 
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" >
  		<param name="use_tf_static" value="$(arg use_tf_static)"/>
</node>

<!--load the ZED camera node (use when implementing real robot)-->
<include file="$(find zed_wrapper)/launch/zed_camera.launch" />

<!--load mezbot_odom node-->
<node name="mezbot_odom_node" pkg="mezbot" type="mezbot_odom_node" output="screen"/>

<!--load rosserial_python node to connect arduino to ros and publsih wheel odometry-->
	<node name="arduino_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
		<param name="port" value="/dev/arduino" />
		<param name="baud" value="57600" />
	</node> 

<!--load the razor-9dof-imu node -->
	<include file="$(find razor_imu_9dof)/launch/razor-pub.launch"/>

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen" />
<node name="rviz" pkg="rviz" type="rviz" />

</launch>

